<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="featureSection" type="rule.engine.FeatureSection,rule.engine" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!-- The licensing logic definitions for each feature -->
  <featureSection>
      <featureCollection>
      
      <feature name="Feature A">
        <!-- For feature A, at least one ruleset must apply for the feature to be licensable -->
        <ruleset id="0">
          <!-- Each ruleset can contain any combinaion of file criteria, process criteria, or any other type, given the type has been defined -->
          <file>
            <!-- Operator must reference either a value from .NET ExpressionType as defined in the MS API docs
            https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.expressiontype
            or a method of the member type, for example the Contains method of string -->
            <add name="TestA" member="Extension" target="exe" operator="Equal" />
          </file>
          <process>
            <add name="TestA" member="Name" target="test" operator="Contains" />
          </process>
        </ruleset>
        <ruleset id="1">
          <file>
            <add name="TestA" member="Name" target="test" operator="Equal" />
            <add name="TestB" member="Extension" target="exe" operator="Equal" />
          </file>
        </ruleset>
      </feature>
        
      <feature name="Feature B">
        <ruleset id="0">
          <file>
            <add name="TestA" member="Name" target="bobobobo" operator="Equal" />
          </file>
        </ruleset>
        <ruleset id="1">
          <file>
            <add name="TestA" member="Name" target="test" operator="Equal" />
            <add name="TestB" member="Extension" target="exe" operator="Equal" />
            <add name="TestC" member="Extension" target="exe2" operator="Equal" />
          </file>
        </ruleset>
        <ruleset id="2">
          <file>
            <add name="TestA" member="Name" target="booooob" operator="Equal" />
          </file>
        </ruleset>
      </feature>
    
    </featureCollection>
  </featureSection>
</configuration>